#begin date
#end date
#checkboxes of who went on trip
#select location from drop down menu
#checked check boxes with all active sites in location appears, exclude cave rooms
#approve button, generates 1) field trip with location, begin date, end date 2)samplenamemasterlist entries with sites and field trip

{% extends 'layouts/base.html' %}
{% block title %}Enter - {{ block.super }}{% endblock %}
{% block content %}
<form>
  Trip Begin:
  <input type="date" name="BeginFieldTrip">
  Trip End:
  <input type="date" name="EndFieldTrip">
  <div id="Worker">
  {% for work in work %}
    <input type="checkbox" name="worker" value="{{work.Worker}}">{{work.Worker}}<br>
  {% endfor %}
  </div>
  Field Trip Location:
  <select name="Location">
    <option value="unset">Pick a site</option>
    {% for loc in loc %}
      <option value="{{loc.idlocation}}">{{loc.location}}</option>
      {% endfor %}
  </select>
  <div id="Checkboxes" class=hidden>
  {% for sit in sit %}
    <input type="checkbox" name="site" value="{{sit.Site}}">{{sit.site}}<br>
  {% endfor %}
  </div>
</form>
  <script>
  $(function() {
    var $site = $('div[id="Checkboxes"]');
    var $loc = $('select[name="Location"]');

    $loc.change(function(){
      var val = $(this).val();
      if(val == "unset"){
        $site.addClass("hidden");
        return;
      }

      console.log(val + " selected");

      $.get("/api/locations/" + val, function(data){
        $site.empty();
        console.log(data);
        $.each(data["sites"], function(idx, val) {
          $site.append("<input type='checkbox' name='site' value='" + val.idsite + "'> "+ val.site +"<br>")
        });
        $site.removeClass("hidden");
      })
    })
  });
  </script>
{% endblock %}
