
{% extends 'layouts/base.html' %}
{% block title %}Enter - {{ block.super }}{% endblock %}
{% block content %}
<form action="/new-fieldtrip/" method="POST">
  {% csrf_token %}
  <b>Trip Begin:</b>
  <input type="date" name="BeginFieldTrip_date">
  <input type="time" name="BeginFieldTrip_time">
  <br><br><br>
  <b>Trip End:</b>
  <input type="date" name="EndFieldTrip_date">
  <input type="time" name="EndFieldTrip_time">
  <br><br><br>
  <b>Field Trip Location:</b>
  <select name="Location">
    <option value="unset" data-pk="unset">Location</option>
    {% for entry in location_all %}
      <option value="{{entry.location}}" data-pk="{{entry.idlocation}}">{{entry.location}}</option>
      {% endfor %}
  </select>
  <br><br><br>
  Sites sampled:
  <div id="Checkboxes" class=hidden>
  </div>
  <br><br>
  <b>Note:<b>
  <input type="text" name="note">
  <br><br>
  <input type="submit" value="Submit">
</form>
<script>
$(function() {
  var $site = $('div#Checkboxes');
  var $loc = $('select[name="Location"]');

  $loc.change(function(){
    var val = $(this).find(":selected").data("pk")
    if(val == "unset"){
      $site.addClass("hidden");
      return;
    }

    console.log(val + " selected");

    $.get("/api/locations/" + val, function(data){
      console.log(data);
      $site.empty();
      $.each(data["fk_Site_Location"], function(idx, val) {
        $site.append("<input type='checkbox' name='site' value='" + val.idsite + "'> "+ val.site +"<br>")
      });
      $site.removeClass("hidden");
    })
  })
});
</script>
{% endblock %}
